<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="zh-CN" xml:lang="zh-CN" xmlns="http://www.w3.org/1999/xhtml" dir="ltr">
    <head profile="http://gmpg.org/xfn/11">
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
        <meta content="n[at]nickcheng[dot]com" name="author" />
        <meta content="blog,python,django" name="Keywords" />
        <meta name="Description" content="Blog system powered by Python & Django" />
        <link href="http://nickcheng.com/feed/" title="Nickcheng.LOG RSS Feed" type="application/rss+xml" rel="alternate"/>
        <!--
        <link href="http://nickcheng.com/feed/rss/" title="RSS .92" type="text/xml" rel="alternate"/>
        <link href="http://nickcheng.com/feed/atom/" title="Atom 1.0" type="application/atom+xml" rel="alternate"/>
        <link href="http://nickcheng.com/xmlrpc.php" rel="pingback"/>
        <link href="http://nickcheng.com/xmlrpc.php?rsd" title="RSD" type="application/rsd+xml" rel="EditURI"/>
        <link href="http://nickcheng.com/wp-includes/wlwmanifest.xml" type="application/wlwmanifest+xml" rel="wlwmanifest"/>
        -->
        <title>{% block title %}{% endblock %}</title>
        <link href="/sitemedia/css/main.css" type="text/css" rel="stylesheet" /> 
        <!--  
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" /> 
        -->
    </head>
    <body>
        <div id="page">
            <div id="header">
                <span id="logo"><a href="{{ headerInfo.homeURL }}">Nickcheng.LOG</a></span>
                <a id="rss" href="{{ headerInfo.homeFeed }}">RSS订阅</a>
                {% if username %}
                    <h4>
                        {{ username }} - <a href="{{ headerInfo.homeURL }}admin/write/">Write</a> - <a href="{{ headerInfo.homeURL }}admin/logout/">Logout</a>
                    </h4>
                {% endif %}
            </div>
            <hr class="dotSplit" />
            <div id="body">
                {% block main %}
                {% endblock %}
            </div>
            <hr class="dotSplit" />
            <div id="footer">
                Nickcheng 保留全部权利
            </div>
        </div>
    </body>
</html>
