{% extends "base.html" %}

{% block title %}这是首页哦{% endblock %}

{% block main %}
    <div id="pagerUp">
        {% for item in pagerLinks %}
            <a href="{{ item.1 }}">{{ item.0 }}</a>
        {% endfor %}
    </div>
    <ul id="articleList">
        {% for item in articles %}
            <li class="article">
                <h3><a href="{{ item.URL }}">{{ item.Title }}</a></h3> 
                <h4 class="articleDate">发表于{{ item.PostDate }} - <a href="#">{{ item.CommentCount }}条评论</a></h4>
                <div>
                    {{ item.Content }}
                </div>
            </li>
        {% endfor %}
    </ul>
    <div id="pagerDown">
        {% for item in pagerLinks %}
            <a href="{{ item.1 }}">{{ item.0 }}</a>
        {% endfor %}
    </div>
{% endblock %}